@import 'tailwindcss';

@theme {
  --color-coolWhite: #fdfdfe;
  --color-coolBlack: #000618;
  --color-darkBlue: #021931;
  --color-lightBlue: #05cfff;
  --color-deepBlue: #034685;
  --color-yellow: #e4b054;
  --color-yellowNeon: #f0d000;
  --font-body: 'Bebas Neue', sans-serif;
  --font-futurist: 'Audiowide', sans-serif;
  --drop-shadow-neon: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
  --font-5xl: 3rem;
  --font-6xl: 4rem;
  --font-7xl: 5rem;
  --font-8xl: 6rem;
}

body {
  @apply bg-coolBlack text-coolWhite font-body;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }
  .scroll-container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-card {
    scroll-snap-align: center;
    flex: none; /* Evita que os cards se estiquem */
  }

  /* .neon-shadow-duo {
    text-shadow:
      -4px 4px 5px #05cfff,
      -4px 4px 10px #05cfff,
      -4px 4px 20px #05cfff,
      -4px 4px 40px #034685,
      -4px 4px 80px #034685,
      -12px 12px 5px #a020f0,
      -12px 12px 10px #a020f0,
      -12px 12px 20px #a020f0,
      -12px 12px 40px #a020f0,
      -12px 12px 80px #a020f0;
  } */
  .neon-shadow-duo {
    text-shadow:
      -4px 4px 5px #05cfff,
      -4px 4px 10px #05cfff,
      -4px 4px 20px #05cfff,
      -4px 4px 40px #034685,
      -4px 4px 80px #034685,
      -12px 12px 5px #034685,
      -12px 12px 10px #034685,
      -12px 12px 20px #034685,
      -12px 12px 40px #05cfff,
      -12px 12px 80px #05cfff;
  }

  .neon-box-yellow {
    box-shadow:
      0 0 3px #f0d000,
      0 0 6px #f0d000,
      0 0 12px #f0d000,
      0 0 25px #e4b054,
      0 0 50px #e4b054;
  }

  .neon-text-white {
    text-shadow:
      -4px 4px 5px #fdfdfe,
      -4px 4px 10px #fdfdfe,
      -4px 4px 20px #fdfdfe,
      -4px 4px 40px #000618,
      -4px 4px 80px #000618;
  }

  .neon-text-red {
    text-shadow:
      -4px 4px 5px #ff0000,
      -4px 4px 10px #ff0000,
      -4px 4px 20px #ff0000,
      -4px 4px 40px #800000,
      -4px 4px 80px #800000;
  }

  .neon-text-yellow {
    text-shadow:
      -4px 4px 5px #e4b054,
      -4px 4px 10px oklch(70.5% 0.213 47.604),
      -4px 4px 20px #e4b054,
      -4px 4px 40px oklch(70.5% 0.213 47.604),
      -4px 4px 80px oklch(70.5% 0.213 47.604);
  }

  .neon-text-blue {
    text-shadow:
      -4px 4px 5px #05cfff,
      -4px 4px 10px #05cfff,
      -4px 4px 20px #05cfff,
      -4px 4px 40px #034685,
      -4px 4px 80px #034685;
  }

  .neon-text-pink {
    text-shadow:
      -4px 4px 5px #a020f0,
      -4px 4px 10px #a020f0,
      -4px 4px 20px #a020f0,
      -4px 4px 40px #a020f0,
      -4px 4px 80px #a020f0;
  }

  .neon-box-duo {
    box-shadow:
      0 0 5px #05cfff,
      0 0 10px #05cfff,
      0 0 20px #05cfff,
      0 0 40px #034685;
  }
}
